.register{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .card{
    width: 50%;
    box-shadow: 0 0 10px gray;
    margin: 50px 0;
    Input{
      margin: 0;
    }
    Button{
      width: 100%;
      margin-top: 10px;
    }
  }
}
@media screen and (max-width: 600px){
  .register{
    .card{
      width: 90%;
      margin: 20px auto;
    }
  }
}