.footer{
  width: 90%;
  background-color: #0D263B;
  padding: 5% 5% 1%  5%;
  color: white;
  .top{
    display: flex;
    align-items: start;
    justify-content: space-between;
    .first{
      width: 30%;
      h3{
        font-weight: 500;
       }
      .contact{
        display: flex;
        align-items: start;
        gap: 15px;
        margin: 20px 0;
        p{
          color: lightgray;
          cursor: pointer;
          transition: .5s;
          &:hover{
            color: gray;
          }
        }
      }
      .icons{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        img{
          transition: .5s;
          width: 17px;
          height: 19px;
          padding: 15px;
          border-radius: 5px;
          &:hover{
            cursor: pointer;
            background-color: #253B4E;
          }
        }
      }
    }
    .card{
      width: 20%;
      h3{
        font-weight: 500;
      }
      p{
        color: lightgray;
        margin: 20px 0;
        cursor: pointer;
        transition: .5s;
        &:hover{
          color: gray;
        }
      }
    }
  }
  hr{
    margin: 20px 0;
  }
  .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (max-width: 600px){
  .footer{
    .top{
      flex-wrap: wrap;
      padding: 5%;
      .first{
        width: 100%;
        .icons{
          margin-bottom: 20px;
        }
      }
      .card{
        width: 100%;
      }
    }
    .bottom{
      flex-direction: column;
      text-align: center;
      gap: 20px;
      padding-bottom: 5%;
      Button{
        display: none;
      }
    }
  }
}












